/* You can add global styles to this file, and also import other style files */

body {
  color: white;
  background-color: #111;
}

* {
  border-color: white;
}

border-component, background-component {
  margin: 10px auto;
}
